/* style.css */


.carousel-caption h1, 
.carousel-caption p {
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.8);
}


.ratio-4x3 {
  position: relative;
  width: 100%;
  padding-top: 75%; /* 4:3 ratio */
}
.ratio-4x3 img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.object-fit-cover {
  object-fit: cover;
}

h2 {
  padding-top: 30px;
}

.top-75 {
  top: 75% !important;
}

